In [26]:
import pandas as pd

In [95]:
df = pd.read_csv('nacimientos2013.csv',sep=',')

In [102]:
df.head()

     sexo  prov_res
0  Hombre         9
1   Mujer        17
2  Hombre        17
3   Mujer        15
4   Mujer        17

In [97]:
#drop Unnamed: 0
try:
    df.drop('Unnamed: 0', axis=1, inplace=True)
except:
    pass

In [98]:
df['prov_res'].unique()

array(['Guayas', 'Pichincha', 'Napo', 'Cotopaxi', 'Imbabura', 'Manabí',
       'Tungurahua', 'El Oro', 'Santo Domingo de los Tsáchilas',
       'Esmeraldas', 'Loja', 'Los Ríos', 'Azuay', 'Orellana', 'Bolívar',
       'Sucumbíos', 'Carchi', 'Cañar', 'Morona Santiago', 'Galápagos',
       'Pastaza', 'Chimborazo', 'Exterior', 'Santa Elena',
       'Zonas No Delimitadas', 'Zamora Chinchipe'], dtype=object)

In [99]:
# replace with code of dictionary
diccionaro_provincias = {1: ['Azuay'], 2: ['Bolívar'], 3: ['Cañar'], 4: ['Carchi'], 5: ['Cotopaxi'], 6: ['Chimborazo'], 7: ['El Oro'], 8: ['Esmeraldas'], 9: ['Guayas'], 10: ['Imbabura'], 11: ['Loja'], 12: ['Los Ríos'], 13: ['Manabí'], 14: ['Morona Santiago'], 15: ['Napo'], 16: ['Pastaza'], 17: ['Pichincha'], 18: ['Tungurahua'], 19: ['Zamora Chinchipe'], 20: ['Galápagos'], 21: ['Sucumbíos'], 22: ['Orellana'], 23: ['Santo Domingo de los Tsáchilas'], 24: ['Santa Elena'], 90: ['Zonas No Delimitadas'],88:['Exterior']}
# invertir diccionario
diccionaro_provincias = {value[0]: key for key, value in diccionaro_provincias.items()}

diccionaro_provincias

{'Azuay': 1,
 'Bolívar': 2,
 'Cañar': 3,
 'Carchi': 4,
 'Cotopaxi': 5,
 'Chimborazo': 6,
 'El Oro': 7,
 'Esmeraldas': 8,
 'Guayas': 9,
 'Imbabura': 10,
 'Loja': 11,
 'Los Ríos': 12,
 'Manabí': 13,
 'Morona Santiago': 14,
 'Napo': 15,
 'Pastaza': 16,
 'Pichincha': 17,
 'Tungurahua': 18,
 'Zamora Chinchipe': 19,
 'Galápagos': 20,
 'Sucumbíos': 21,
 'Orellana': 22,
 'Santo Domingo de los Tsáchilas': 23,
 'Santa Elena': 24,
 'Zonas No Delimitadas': 90,
 'Exterior': 88}

In [100]:
df['prov_res'] = df['prov_res'].map(diccionaro_provincias)

In [101]:
df['prov_res'].unique()

array([ 9, 17, 15,  5, 10, 13, 18,  7, 23,  8, 11, 12,  1, 22,  2, 21,  4,
        3, 14, 20, 16,  6, 88, 24, 90, 19], dtype=int64)

In [103]:
df['prov_res'] = df['prov_res'].astype('int')

In [104]:
# replace the csv file
df.to_csv('nacimientos2013.csv', index=False)